	<table width='800' style='text-align:left;' align='center' id='about'>
		<tr id='about1'>
			<td><p>Finally, a simple paper wallet soultion:<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Send Bitcoin from ANY address</strong> as long as you control the private key.<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>No need to sweep or import</strong> paper/brain wallets, no hefty desktop client.<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>No fear of losing/compromising unspent coins</strong> (change automatically sent back to sender).<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Set your own miner fees</strong> with no hidden or extra charges.<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Securely sign transactions offline</strong> with our btcsignature command line tool (step by step guide).
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*<strong>You are ultimately responsible for your own security</strong>* using this tool is your choice.
			</p></td>
		</tr>
		<tr id='about2'>
			<td><p>A simple bitcoin transaction web tool that is...<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Universal:</strong> Send Bitcoin from ANY address as long as you can access the private key.<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Ultralight:</strong> No hefty desktop client, no registration, no storage, just a transaction tool.<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Trustless:</strong> Personally oversee each step of your transaction and securely sign offline (step by step guide).<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Cold Wallet Friendly:</strong> No more having to sweep or import paper wallets to do one small transaction.<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Transparent:</strong> Set your own fee with no hidden or extra charges.<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*<strong>You are ultimately responsible for your own security and finances</strong>*
		</tr>
	</table>