<head>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script>
		var host = "www.btctx.net";
		if ((host == window.location.host) && (window.location.protocol != "https:")){
		window.location.protocol = "https";
		}
	</script>
	<style>
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
	@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

	input.form {
		line-height:16px;
		font-size:14px;
		padding:5px;
		font-family: 'Open Sans', sans-serif;
	}
	
	input:focus {
    outline:none !important;
	}

	textarea:focus {
    outline:none !important;
	}

	div.heading{
		text-align:center;
		background-color:lightgrey;
		font-size:1.5em;
		border:2px solid darkgrey;
		font-family: 'Montserrat', sans-serif;
		color:#00004d;
		height:40px;
		vertical-align: middle;
		cursor:pointer;
	}

	.json_alert {
		position: absolute;
		background-color: lightgrey;
		text-align: center;
		vertical-align:middle;
		opacity:1.0;
		top:40px;
		left:40px;
		height: 650px;
		width: 1000px;
		z-index: 99;
	}

	.chart {
		border: 2px solid darkgrey;
	}

	.box {
		width:97%;
		height:auto;
		background:#FFF;
		margin:10px auto;
		opacity:0.85;
	}

	.effect
	{
	    position:relative;
	    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
	.effect:before, .effect:after
	{
		content:"";
	    position:absolute; 
	    z-index:-1;
	    box-shadow:0 0 20px rgba(0,0,0,0.8);
	    top:0;
	    bottom:0;
	    left:0;
	    right:0;
	    border-radius:20px / 10px;
	} 
	.effect:after
	{
	    right:10px; 
	    left:auto; 
	    transform:skew(8deg) rotate(3deg);
	}
	
	.eff2{
	     box-shadow: 0 10px 6px -6px #777;
	     opacity:1.0;
	}

	</style>
</head>

<body style="text-align:center;font-family:georgia;background-image:url('https://s3.amazonaws.com/aristaticfiles/cligraph3.jpg');">

	<table width= '95%' align='center'>
		<tr style='text-align: center;'>
			<td style='width:25%;text-align:left;vertical-align: top;'>
				<p style='font-family: "Montserrat" sans-serif;'><strong>
					<a href="" target="" style="text-decoration:none;color:black;" >HOW TO</a> &nbsp;&nbsp;|&nbsp;&nbsp;
					<a href="https://github.com/superarius/sendBTCsimply" target="_blank" style="text-decoration:none;color:black;">GITHUB</a>
					</strong>
				</p>
			</td>
			<td style='text-align: center;width:50%;'>
				<h1 style="font-family:'Montserrat' sans-serif;">
					<strong>BTC</strong><span style='font-style:italic;font-weight:normal;font-family:georgia;'>tx</span>
				</h1>
			</td>
			<td style='text-align: center; width:25%;vertical-align: top;'>
				<p style="font-family:'Montserrat' sans-serif;">
					Donate:<br><span style="font-size:.8em;"><strong>19wfYbP9wYprQoKQAFasT7SZyU7XzuUuZk</strong></span>
				</p>
			</td>
		</tr>
	</table>

	<div class="json_alert" id="alert">
		<br>
		<p style='text-align:center;color:blue;text-decoration:underline; cursor:pointer;font-size:1.2em;' id='closealert'>close</p>
		<br><br>
		<pre id="json" style='text-align:left;margin-left:6px;'></pre>
	</div>

	<div class="box effect"> 

	<div class="heading" id='step1_header'>
		<span style='vertical-align: middle;line-height: 40px;'><strong>Step 1: Create tx</strong></span>
	</div>

	<div id='step1'>
		<table id='table1' width='100%' align='center'>
			<tr style = 'text-align: center;'>
				<td style='text-align:center;width:30%;vertical-align:top;'>
					<div style='height:390px;width:98%;margin-left:6px; margin-right:0; margin-top:6px; margin-bottom:6px;background-color:lightgrey;border: 2px solid darkgrey; border-radius: 5px;'>
						<h3 style='font-weight:normal;font-style:italic;'>Conversions</h3>
						<input type="text" class= "chart" name="" id='usdbtc' size='14' style='text-align: center; line-height: 15px;'> &nbsp;$&nbsp;&nbsp;=&nbsp;&nbsp;<input class= "chart" type="text" name="" id='btcusd' size='14' style='text-align: center; line-height: 15px;'> &nbsp;BTC
						<br><br>
						<input type="text" class= "chart" name="" id='btcsat' size='14' style='text-align: center; line-height: 15px;'> &nbsp;BTC&nbsp;&nbsp;=&nbsp;&nbsp;<input type="text" class= "chart" name="" id='satbtc' size='14' style='text-align: center; line-height: 15px;'> sat
						<br><br>
						<h3 style='font-weight:normal;font-style:italic;'>Fees</h3>
						<span id='est_fee'></span><br>
						<input type="text"  class= "chart" name="" id='mult_rate' size='3' style='text-align: center; line-height: 15px;'>sat/byte&nbsp; x &nbsp;<input type="text" class= "chart" name="" id='mult_size' size='5' style='text-align: center; line-height: 15px;'>bytes &nbsp;= &nbsp;<input type="text" class= "chart" name="" id='mult_result' size='12' style='text-align: center; line-height: 15px;'>sat<br><br>
						<span style='font-size:.8em;'>*average tx size is 226 bytes - <a href="https://bitcoinfees.earn.com/" style='font-weight:bold;color:black;text-decoration:none;'> more fee info</a><br>
						** use "smart suggestion" for estimates specific to your tx.</span>
					</div>
				</td>
				<td id='colform' style='width:40%;'>
					<p style='text-align:left; padding-left:30px;'>
						Spend Address:<br>
						<input type="text" name="" id='sender' size='36' class='form'><br>
					</p>
					<p id="output_fields" style='text-align:left; padding-left:30px;'>
						To Address:<br>
						<input type="text" name="" id='receiver1' size='36' class='form'><br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount (in satoshis):<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" id='amount1' size='26' class='form'><span id='conversion1' style='color:grey;'></span><br>
						<span id='add_output' style='text-decoration:underline;color:blue;cursor:pointer;'>more outputs</span><br>
					</p>
					<p style='text-align:left; padding-left:30px;'>
						Fee (in satoshis):<br>
						<input type="text" name="" id='fee' size='26' class='form'><span id='conversion2' style='color:grey;'></span><br>
						<span id='get_suggest' style='text-decoration:underline;color:blue;cursor:pointer;'>smart suggestion</span><br>
						<span id='suggest'></span><br>
					</p>
					<div id='create' class="eff2" style="background-color:navy;border:none;font-size:16px;font-family: 'Montserrat' sans-serif;color:white; height:45px; line-height: 45px;vertical-align: middle;width:150px;margin-left:30px;cursor: pointer;text-align:center;"><span style='text-align: center;'><strong>CREATE</strong></span></div><br><br>
				</td>
				<td style='width:30%; text-align:center;'>
					<span id='revealunsigned'>
						<h4 id='s_header'>Unsigned Transaction Hex:</h4>
						<textarea name="" cols="55" rows="7" wrap='hard' id='unsigned'></textarea><br><br>
						<div id='verify' class="eff2" style="background-color:navy;border:none;font-size:15px;font-family: 'Montserrat' sans-serif;color:white; height:45px; line-height: 45px;vertical-align: middle;width:150px;margin:auto;cursor: pointer;"><strong>VERIFY</strong></div>
					</span>
				</td>
			</tr>
		</table>
	</div>

	<div id='step2_header' class="heading">
		<span style='vertical-align: middle;line-height: 40px;'><strong>Step 2: Securely Sign tx OFFLINE</strong></span>
	</div>

	<div id='step2'>
		<table width='70%' align='center'>
			<tr>
				<td>
					<p>
						(First Time Only) Install <a href="https://pypi.python.org/pypi/btcsignature" target='_blank' style='text-decoration:none;color:black;'><strong>btcsignature</strong></a> python package from command line with:<br><br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='background-color:lightgrey;'>&nbsp;&nbsp;$ pip install btcsignature &nbsp;&nbsp;</span>&nbsp;&nbsp;<br><br>
						Run signing script from command line with:<br><br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='background-color:lightgrey;'>&nbsp;&nbsp;$ sign-offline &nbsp;&nbsp;</span><br><br>
						*unfamiliar with the command line?<a href="{% url 'guide' %}" target="_blank" style='color:black;'> <strong>guide here</strong></a>
					</p>
				</td>
			</tr>
		</table>
	</div>

	<div id='step3_header' class="heading">
		<span style='vertical-align: middle;line-height: 40px;'><strong>Step 3: Broadcast tx</strong></span>
	</div>

	<div id='step3'>
		<br>
		<table width='600' align='center'>
			<tr style='text-align: center;'>
				<td>
					<h4 id='s_header'>Signed Transaction Hex:</h4>
					<textarea name="" cols="80" rows="7" wrap='hard' id='signed'></textarea><br><br>
					<div id='broadcast' class="eff2" style="background-color:red;border:none;font-size:18px;font-family: 'Montserrat' sans-serif;color:white; height:50px; line-height: 50px;vertical-align: middle;width:200px;margin:auto;cursor: pointer;">&nbsp;<strong>BROADCAST</strong>&nbsp;</div><span style='font-size:12px;'><br><strong> &nbsp;(WARNING: Cannot change or cancel after broadcasting.) </strong></span>
				</td>
			</tr>
		</table>
	</div>

	<br>
	<br>
	<br>
	<br>

	</div>

</body>

<script>
	$('#step2').hide();
	$('#revealunsigned').hide();
	$('#alert').hide();
	$('#step3').hide();
	var usd2btc = 1;
	var optimal_satbyte, halfhour_satbyte, hour_satbyte;
	var n_outs = 1;

	my_round = function (value, decimals) {
  		return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
	}

	window.onload = function () {
		$.ajax({
			url: "https://bitcoinfees.earn.com/api/v1/fees/recommended",
			success: function (data){
				optimal_satbyte = data.fastestFee;
				halfhour_satbyte = data.halfHourFee;
				hour_satbyte = data.hourFee;
				document.getElementById('est_fee').innerHTML="optimized:<strong> " + optimal_satbyte.toString()+ " sat/byte</strong><br> <30m:<strong> "+ halfhour_satbyte.toString() +" sat/byte</strong> <br><1hr:<strong> "+hour_satbyte.toString()+" sat/byte</strong><br><br>";
			}
		});

		$.ajax({
			url: "https://blockchain.info/ticker",
			success: function (data){
				usd2btc = my_round(data.USD.last, 2);
				$('#btcusd').val("1");
				$('#btcsat').val("1");
				$('#usdbtc').val(usd2btc.toString());
				$('#satbtc').val("100000000");
			}
		});

		window.setInterval(function(){
			var x = []
			for (i=1; i<=n_outs; i++){
				x.push($("#amount" + i.toString()).val());
			}
	        var num, conv_num, show;
	        for (i=0; i<n_outs; i++) {
	        	var j = i+1;
		        var conversion_id = "conversion" + j.toString();
		        if (x[i] != '') {
		        	num = parseInt(x[i]);
		        	conv_num = num/100000000.0;
		        	show = '&nbsp;&nbsp;&nbsp;' + conv_num.toString() + ' BTC';
		        	document.getElementById(conversion_id).innerHTML = show;}
		        else {
		        	document.getElementById(conversion_id).innerHTML = '';}
	        }
			}, 500);
	};
	
	document.getElementById('create').onclick = function() {maketx();};
	document.getElementById('broadcast').onclick = function() {broadcast();};
	document.getElementById('verify').onclick = function () {verification();}
	document.getElementById('get_suggest').onclick = function () {fee_suggest();}
	document.getElementById('add_output').onclick = function () {add_output();}

	function maketx() {
		var sender = $('#sender').val();
		var fee = $('#fee').val();
		var amounts = []
		var receivers = []
		for (i=1;i<=n_outs;i++){
			if ($('#amount'+i.toString()).val() != '' && $('#receiver'+i.toString()).val() !=''){
				amounts.push($('#amount'+i.toString()).val());
				receivers.push($('#receiver'+i.toString()).val());
			}
		}

		$.ajax({
			url: "{% url 'ajax_tx' %}",
			data: {'sender': sender, 'receiver':receivers, 'amount':amounts, 'fee':fee},
			success: function (data) {
				document.getElementById('unsigned').innerHTML = data.bytes_;
				$('#revealunsigned').show(750);
			}
  		});
	}

	document.getElementById('step1_header').onclick = function () {if(document.getElementById('step1').style.display=="none"){$('#step1').show(500);} else {$('#step1').hide(500);}};
	document.getElementById('step2_header').onclick = function () {if(document.getElementById('step2').style.display=="none"){$('#step2').show(500);} else {$('#step2').hide(500);}};
	document.getElementById('step3_header').onclick = function () {if(document.getElementById('step3').style.display=="none"){$('#step3').show(500);} else {$('#step3').hide(500);}};

	function broadcast() {
		var signed = $('#signed').val();
		$('#signed').val('Sending . . .');
		$.ajax({
			url: "{% url 'ajax_broadcast' %}",
			data: {'signed':signed},
			success: function (data) {
				$('#signed').val(data.output);
			}
  		});
	}

	function verify_direct() {
		var bytes_ = $('#unsigned').val();
		$.ajax({
			url: "https://api.blockcypher.com/txs/decode",
			type: "post",
			data: {'tx':bytes_},
			success: function (data) {
				var jsonStr = JSON.stringify(data, null, 4);
				document.getElementById('alert').innerHTML = jsonStr;
				$('#alert').show(800);
				document.getElementById('closealert').onclick = function() {alerthide();}
			}
		});
	}

	function alerthide() {
		$('#alert').hide(750);
	}

	function verification() {
		var bytes_ = $('#unsigned').val();
		$.ajax({
			url: "{% url 'ajax_verify' %}",
			data: {'bytes_':bytes_},
			success: function (data) {
				var jsonStr = JSON.stringify(data, null, 4);
				document.getElementById('json').innerHTML = jsonStr;
				$('#alert').show(800);
				document.getElementById('closealert').onclick = function() {alerthide();}
			}
		});
	}

	function fee_suggest() {
		var addr = $('#sender').val();
		var amounts = []
		for (i=1;i<=n_outs; i++){amounts.push($('#amount'+i.toString()).val());}
		$.ajax({
			url: "{% url 'ajax_suggest' %}",
			data: {'addr': addr, 'amounts':amounts},
			success: function (data){
				var size = data.msg;
				if (size == 0){document.getElementById('suggest').innerHTML = "fill out rest of form first!";}
				else {
					var opt = optimal_satbyte*size;
					var halfh = halfhour_satbyte*size;
					var hour = hour_satbyte*size;
					document.getElementById('suggest').innerHTML = "size: ~"+ size.toString() +"bytes<br>optimized: <strong>"+opt.toString()+"</strong> || <30m: <strong>"+halfh.toString()+"</strong> || <1hr: <strong>"+hour.toString()+"</strong>";
				}
			}

		});
	}

	$(document).ready( function () {
		$('#btcsat').on('keyup', function () {
			var a = $('#btcsat').val();
			if (a==''){document.getElementById('satbtc').value = '';document.getElementById('btcusd').value = '';document.getElementById('usdbtc').value = '';}
			else {
			var num = Math.round(parseFloat(a)*100000000);
			document.getElementById('satbtc').value = num.toString();
			document.getElementById('btcusd').value = a;
			document.getElementById('usdbtc').value = my_round(parseFloat(a)*usd2btc,2).toString();}
		});

		$('#satbtc').on('keyup', function () {
			var a = $('#satbtc').val();
			if (a==''){document.getElementById('btcsat').value = '';document.getElementById('btcusd').value = '';document.getElementById('usdbtc').value = '';}
			else {
			var num = parseInt(a)/100000000.0;
			document.getElementById('btcsat').value = num.toString();
			document.getElementById('btcusd').value = num.toString();
			document.getElementById('usdbtc').value = my_round(parseFloat(num)*usd2btc,2).toString();}
		});
		
		$('#btcusd').on('keyup', function () {
			var a = $('#btcusd').val();
			if (a==''){document.getElementById('satbtc').value = '';document.getElementById('btcsat').value = '';document.getElementById('usdbtc').value = '';}
			else {
			var num = Math.round(parseFloat(a)*usd2btc*100)/100;
			document.getElementById('usdbtc').value = num.toString();
			document.getElementById('btcsat').value = a;
			document.getElementById('satbtc').value = Math.round(parseFloat(a)*100000000).toString();}
		});
		
		$('#usdbtc').on('keyup', function () {
			var a = $('#usdbtc').val();
			if (a==''){document.getElementById('satbtc').value = '';document.getElementById('btcusd').value = '';document.getElementById('btcsat').value = '';}
			else {
			var num = my_round(parseFloat(a)/usd2btc, 8);
			document.getElementById('btcusd').value = num.toString();
			document.getElementById('btcsat').value = num.toString();
			document.getElementById('satbtc').value = Math.round(num*100000000).toString();}
		});

		$('#mult_rate').on('keyup', function () {
			var a = $('#mult_rate').val();
			var b = $('#mult_size').val();
			if (a=='' || b==''){document.getElementById('mult_result').value = '';}
			else {
			var num = Math.round(parseFloat(a)*parseInt(b));
			document.getElementById('mult_result').value = num.toString();}
		});

		$('#mult_size').on('keyup', function () {
			var a = $('#mult_rate').val();
			var b = $('#mult_size').val();
			if (a=='' || b==''){document.getElementById('mult_result').value = '';}
			else {
			var num = Math.round(parseFloat(a)*parseInt(b));
			document.getElementById('mult_result').value = num.toString();}
		});

		$('#mult_result').on('keyup', function () {
			var a = $('#mult_result').val();
			var b = $('#mult_size').val();
			if (a=='' || b==''){document.getElementById('mult_rate').value = '';}
			else {
			var num = Math.round(parseFloat(a)/parseFloat(b));
			document.getElementById('mult_rate').value=num.toString();}
		});

	});

	function add_output () {
		n_outs += 1;
		var newhtml = ""
		for (i=1;i<=n_outs;i++){
			newhtml+="To Address:<br><input type='text' id='receiver" +i.toString() +"' size='36' class='form'><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Amount (in satoshis):<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type='text' id='amount"+i.toString()+"' size='26' class='form'><span id='conversion"+i.toString()+"' style='color:grey;'></span><br>"
		}
		document.getElementById('output_fields').innerHTML = newhtml + "<span id='add_output' style='text-decoration:underline;color:blue;cursor:pointer;'>more outputs</span><br>";
		document.getElementById('add_output').onclick = function () {add_output();}
	}

	jQuery.moveColumn = function (table, from, to) {
	    var rows = jQuery('tr', table);
	    var cols;
	    rows.each(function() {
	        cols = jQuery(this).children('th, td');
	        cols.eq(from).detach().insertBefore(cols.eq(to));
	    });
	}

</script>