<head>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<style>
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

	input.number_input {
		line-height:20px;
		font-size:18px;
		padding:5px;
		font-family: 'Open Sans', sans-serif;
	}

	input.addr_input {
		line-height:20px;
		font-size:18px;
		padding:5px;
		font-family: 'Open Sans', sans-serif;
	}
	
	input:focus {
    outline:none !important;
	}

	textarea:focus {
    outline:none !important;
	}


	.box {
		width:97%;
		height:100%;
		background:#FFF;
		margin:40px auto;
		padding:10px;
	}

	.effect
	{
	    position:relative;
	    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
	.effect:before, .effect:after
	{
		content:"";
	    position:absolute; 
	    z-index:-1;
	    box-shadow:0 0 20px rgba(0,0,0,0.8);
	    top:0;
	    bottom:0;
	    left:0;
	    right:0;
	    border-radius:20px / 10px;
	} 
	.effect:after
	{
	    right:10px; 
	    left:auto; 
	    transform:skew(8deg) rotate(3deg);
	}

	</style>
</head>

<body style='text-align:center;font-family:georgia;background-color:lightgrey;'>

	<table width= '95%' align='center'>
		<tr>
			<td style='width:33%;text-align:left;vertical-align: top;'>
				<p><strong>sendbtcsimply@protonmail.com</strong></p>
			</td>
			<td style='text-align: center;width:33%;'>
				<h1>Send BTC</h1>
			</td>
			<td style='text-align: right; width:33%;vertical-align: top;'>
				<p>Donate:<strong><span style="font-family:times;">19wfYbP9wYprQoKQAFasT7SZyU7XzuUuZk</span></strong></p>
			</td>
		</tr>
	</table>

	<div class="box effect">

	<div style='text-align:center;background-color:aliceblue;font-size:24px;border:2px solid grey; border-radius:8px;' id='step1_header'>
		<strong>Step 1: Input Transaction Details</strong>
	</div>

	<br>

	<div id='step1'>
		<table width='95%' align='center'>
			<tr>
				<td style='width:25%;'></td>
				<td style='width:50%;'>
					<p style='text-align:left'>
						sender address:<br>
						<input type="text" name="" id='sender' size='60' class='addr_input'><br><br>
						amount to send (in satoshis):<br>
						<input type="text" name="" id='amount' size='30' class='number_input'><span id='conversion1' style='color:grey;'></span><br><br>
						send to:<br>
						<input type="text" name="" id='receiver' size='60' class='addr_input'><br><br>
						fee (in satoshis):<br>
						<input type="text" name="" id='fee' size='30' class='number_input'><span id='conversion2' style='color:grey;'></span><br><br>
						<button id='submit'>&nbsp;&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;&nbsp;</button><br><br>
					</p>
				</td>
				<td style='text-align:center;width:25%;vertical-align:top;'>
					<div style='height:60px;width:100%;border: 2px solid black;'><br>
						<input type="text" name="" id='conversion3' size='10' style='text-align: center; line-height: 15px;'> &nbsp;BTC&nbsp;&nbsp;=&nbsp;&nbsp;<input type="text" name="" id='conversion4' size='10' style='text-align: center; line-height: 15px;'> satoshis
					</div>
				</td>
			</tr>
			<tr id='revealunsigned'>
				<td></td>
				<td>
					<h4>Unsigned Transaction Data:</h4>
					<textarea name="" cols="80" rows="7" id='unsigned1' wrap='hard'></textarea><br><br>
				</td>
				<td></td>
			</tr>
		</table>
	</div>

	<div style='text-align:center;background-color:aliceblue;border:2px solid grey;border-radius:8px;font-size:24px;' id='step2_header'>
		<strong>Step 2: Securely Sign Transaction (OFFLINE)</strong>
	</div>

	<br>

	<div id='step2'>
		<table width='70%' align='center'>
			<tr style='text-align: center;'>
				<td>
					<p>
						<span style='font-style: italic;'>By signing transactions offline from the command line we make sure<br> our private key never touches a website and stays 100% private. Heres how:</span><br><br>
					</p>
				</td>
			<tr>
				<td>
					<p>
						1. (First Time Only) Install <a href="https://pypi.python.org/pypi/btcsignature" target='_blank' style='text-decoration:none;color:black;'><strong>btcsignature</strong></a> python package from command line with:<br><br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='background-color:lightgrey;'>&nbsp;&nbsp;$ pip install btcsignature &nbsp;&nbsp;</span>&nbsp;&nbsp;*<a href="{% url 'guide' %}" target="_blank" style='color:black;'>guide here</a><br><br>
						2. Go Offline.<br><br>
						3. Run signing script from command line with:<br><br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='background-color:lightgrey;'>&nbsp;&nbsp;$ sign-offline &nbsp;&nbsp;</span><br><br>
						4. You'll be prompted input your private key and the Unsigned Transaction Data (from Step 1)<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>*Only retreive/connect your private key AFTER going offline*</strong><br><br>
						5. Copy Signed Transaction Data and reconnect.<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>*Remove/disconnect all traces of private key before going back online*</strong><br><br>
					</p>
				</td>
			</tr>
		</table>
	</div>

	<div style='text-align:center;background-color:aliceblue;font-size:24px;border:2px solid grey; border-radius:8px;' id='step3_header'>
		<strong>Step 3: Broadcast</strong>
	</div>

	<div id='step3'>
		<br>
		<table width='600' align='center'>
			<tr style='text-align: center;'>
				<td>
					<p>
						<span style='font-style: italic;'>If you want to check out the contents of your transaction before broadcasting (verify that there are no extra fees and tx details are correct) - - <a href="https://live.blockcypher.com/btc/decodetx/" target='_blank' style='text-decoration:none;color:black;'><strong>click here</strong></a></span><br>
					</p>
					<h4 id='s_header'> Input Signed Transaction Data:</h4>
					<textarea name="" cols="80" rows="7" wrap='hard' id='signed'></textarea><br><br>
					<button id='broadcast' style='background-color:red;border-radius:5px;'><strong>Broadcast Transaction</strong></button><span style='font-size:12px;'><strong> &nbsp;(WARNING: Cannot change or cancel after broadcasting.) </strong></span>
				</td>
			</tr>
		</table>
	</div>

	<br>
	<br>
	<br>

	</div>

</body>

<script>
	window.onload = function () {window.setInterval(function(){
	        var x = $('#amount').val();
	        var y = $('#fee').val();
	        var num, conv_num, show, sat_low, sat_high;
	        if (x != '') {
	        	num = parseInt(x);
	        	conv_num = num/100000000.0;
	        	show = '&nbsp;&nbsp;&nbsp;' + conv_num.toString() + ' BTC';
	        	document.getElementById('conversion1').innerHTML = show;}
	        else {
	        	document.getElementById('conversion1').innerHTML = '';}
	        if (y != '') {
	        	num = parseInt(y);
	        	conv_num = num/100000000.0;
	        	sat_high = Math.round(num/200.0);
	        	sat_low = Math.round(num/400.0);
	        	show = '&nbsp;&nbsp;&nbsp;' + conv_num.toString() + ' BTC' +' (~'+sat_low.toString()+' - '+sat_high.toString()+' sat/byte)';
	        	document.getElementById('conversion2').innerHTML = show;}
	        else {
	        	document.getElementById('conversion2').innerHTML = '';}	

	}, 500);
	};
	
	document.getElementById('submit').onclick = function() {maketx();};
	document.getElementById('broadcast').onclick = function() {broadcast();};
	
	$('#revealunsigned').hide();
	$('#step2').hide();
	$('#step3').hide();

	function maketx() {
		var sender = $('#sender').val();
		var receiver = $('#receiver').val();
		var amount = $('#amount').val();
		var fee = $('#fee').val();
		$.ajax({
			url: "{% url 'ajax_tx' %}",
			data: {'sender': sender, 'receiver':receiver, 'amount':amount, 'fee':fee},
			success: function (data) {
				document.getElementById('unsigned1').innerHTML = data.bytes_;
				$('#revealunsigned').show();
			}
  		});
	}

	document.getElementById('step1_header').onclick = function () {if(document.getElementById('step1').style.display=="none"){$('#step1').show(500);$('#step2').hide(500);$('#step3').hide(500);$('#about').hide();} else {$('#step1').hide(500);}};
	document.getElementById('step2_header').onclick = function () {if(document.getElementById('step2').style.display=="none"){$('#step2').show(500);$('#step1').hide(500);$('#step3').hide(500);$('#about').hide();} else {$('#step2').hide(500);}};
	document.getElementById('step3_header').onclick = function () {if(document.getElementById('step3').style.display=="none"){$('#step3').show(500);$('#step2').hide(500);$('#step1').hide(500);$('#about').hide();} else {$('#step3').hide(500);}};

	function broadcast() {
		var signed = $('#signed').val();
		$('#signed').val('Sending . . .');
		$.ajax({
			url: "{% url 'ajax_broadcast' %}",
			data: {'signed':signed},
			success: function (data) {
				console.log(data.output);
				$('#signed').val(data.output);
			}
  		});
	}

	$(document).ready( function () {
		$('#conversion3').on('keyup', function () {
			var a = $('#conversion3').val();
			if (a==''){document.getElementById('conversion4').value = '';}
			else {
			num = Math.round(parseFloat(a)*100000000);
			document.getElementById('conversion4').value = num.toString();}
		});

		$('#conversion4').on('keyup', function () {
			var a = $('#conversion4').val();
			if (a==''){document.getElementById('conversion3').value = '';}
			else {
			num = parseInt(a)/100000000.0;
			document.getElementById('conversion3').value = num.toString();}
		});

	});

</script>