<body style='text-align:center;font-family:georgia;'>
	<table align='center'>
		<tr>
			<td style='width:20%;'></td>
			<td style='text-align: center;width:60%;'><h1>Send BTC</h1></td>
			<td style='text-align: right; width:20%;vertical-align: top;'></td>
		</tr>
		<tr>
			<td></td>
			<td style='text-align: center;'><h3 style='color:grey;'>Installation Guide.</h3></td>
		</tr>
		<tr>
			<td></td>
			<td>

	<p> We are going to walk through the set up of our offline signing script from a Shell/Terminal. <strong>If you are unfamiliar with the command line - don't worry. </strong>We won't be doing anything fancy.</p>

	<p>1. <strong>Open a Shell Session</strong><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you are on a mac you can type "Terminal" into the Spotlight.<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;On windows the application is called "Command Prompt"<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when opened it should look something like this:<br>
	<img src =https://s3.amazonaws.com/aristaticfiles/terminalshot.jpg style='width:75%;height:75%;'></p>
	<p>2. <strong>Get pip (python package installer)</strong><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In the terminal type "sudo easy_install pip" and press enter<br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='background-color:lightgrey;'>&nbsp;&nbsp;$ sudo easy_install pip &nbsp;&nbsp;</span><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;you will be prompted for your password, referring to the device's User Password<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(if you have a password to sign in to your account when you first boot up your computer -- that's the one)<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type your password and press enter.<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(you know it worked if there's a lot of activity and at the end it says something like "succefully installed pip...")<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;having issues with this step? look <a href='https://stackoverflow.com/questions/17271319/how-do-i-install-pip-on-macos-or-os-x' target='_blank' style='text-decoration: none;color:black;'><strong>here</strong></a>, <a href='https://pip.pypa.io/en/stable/installing/' target='_blank' style='text-decoration: none;color:black;'><strong>here</strong></a> and <a href='https://stackoverflow.com/questions/26279207/installing-pip-using-easy-install' target='_blank' style='text-decoration: none;color:black;'><strong>here</strong></a>.</p>

	<p>3. <strong>Download btcsignature package with pip</strong><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In the terminal type "pip install btcsignature" and press enter<br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='background-color:lightgrey;'>&nbsp;&nbsp;$ pip install btcsignature &nbsp;&nbsp;</span><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There should be a lot of activity in the terminal again (downloading dependencies)<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It should finish with "Succesfully installed btcsignature 0.11"<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*(if you got a "Permission Denied" Error try "$ sudo pip install btcsignature")*<br></p>

	<p>4. <strong>You are ready to sign transactions from the command line</strong><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Whenever you want to use the transaction signing tool just open a Shell/Terminal session.<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To run the signing script just type and enter "sign-offline"<br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='background-color:lightgrey;'>&nbsp;&nbsp;$ sign-offline &nbsp;&nbsp;</span><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The script will then run (only if you are offline)<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;When it prompts you: input your private key and press enter<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;When it prompts you again: input your Unsigned Transaction Data and press enter<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You're done!	



